.footer {
    background-color: $bg-footer;
    color: $color-white;
    padding-bottom: 50px;
    font-size: 13px;
    line-height: 24px;

    &-top {

        .row {
            margin: 0;
        }

        &-heading {
            font-size: 22px;
            margin-bottom: 50px;
        }

        &-item {
            padding-top: 60px;
            margin-bottom: 30px;
        }
    }

    &-link {
        color: $color-white;

        &:hover {
            color: $color-white;
        }
    }

    li {
        margin-bottom: 20px;

        p {
            margin-bottom: 5px;
        }
    }

    .list-item {
        padding-left: 20px;
        position: relative;

        span {
            position: relative;
            top: -5px;
        }

        &-social {
            color: $color-white;
            font-size: 11px;
            padding-left: 65px;
            position: relative;
            line-height: 50px;
            transition: 0.3s;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    &-bottom {
        font-size: 12px;

        p {
            margin-bottom: 0;
        }

        & .btn {

            &-lg {
                font-size: 8px;
                padding-right: 20px;

                @media (max-width: 424px) {
                    font-size: 5px;
                }
            }

            &-primary {
                color: $color-white;
            }
        }
    }

    @media (min-width: 768px) {

        .border {

          &-violet {
              @include border-top(15px, $color-elements);
            }

          &-blue {
            @include border-top(15px, $color-ecommerse);
          }
        }
    }

    @media (min-width: 992px) {

        .border {

            &-pink {
                @include border-top(15px, $color-blog);
            }

            &-orange {
                @include border-top(15px, $color-typography);
            }
        }
    }
}

.color {

    &-grey {
        color: $footer-grey;
    }

    &-secondary {
        color: $color-secondary;
        transition: 0.3s;
    }
}


@-webkit-keyframes hvr-icon-up {
    0%,
      50%,
      100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25%,
      75% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }
  @keyframes hvr-icon-up {
    0%,
      50%,
      100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    25%,
      75% {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }
  }

.hvr-icon-up {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
  }

.hvr-icon-up:before {
    font-size: 12px;
    content: "\f077";
    position: absolute;
    right: 10px;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    color: $color-secondary;
  }

.hvr-icon-up:hover:before, .hvr-icon-up:focus:before, .hvr-icon-up:active:before {
    -webkit-animation-name: hvr-icon-up;
    animation-name: hvr-icon-up;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    color: $color-white;
  }
