$color-white:          		#fff;
$color-black:          		#000000;
$color-dark-lighter:   		#555;
$color-dark:           		#3b4954;
$color-top-header:     		#85939f;
$color-bottom-header:  		#666666;
$color-secondary:      		#02baab;
$color-hover:          		#6d0fae;
$color-separator:      		#eeeeee; 
$bg-footer:          		 #1f2a32;
$color-border:         		#c3c3c3;
$footer-grey:          		#9b9b9b;
$color-single-blog:	   		#474e52;
$color-header-blog:	   		#474d52;
$color-blockquote:	   		#c69c6d;
$bg-comment:		   		#ebf0f3;
$border-comment:	   		#dee7ed;
$color-portfolio:	   		#ffc600;
$color-portfolio-secondary:	#ffae00;

$color-home:           #ffae00;
$color-typography:     #fc7100;
$color-blog:           #e51c5e;
$color-pages:          #ae0f8d;
$color-elements:       #6d0fae;
$color-ecommerse:      #33227a;
$color-menu:           #0c8fcc;

$font-txt:               'Oxygen', sans-serif;
$font-secondary:         'Lato', sans-serif;

$font-light:             300;
$font-normal:            400;
$font-bold:              700;