@import url('https://fonts.googleapis.com/css?family=Lato|Oxygen');

@import "./styles/base/variables";
@import "./styles/base/mixins";

@import "./styles/layout/title";
@import "./styles/layout/btn";

@import "./styles/layout/header";
@import "./styles/layout/info-section";
@import "./styles/layout/welcome-section";
@import "./styles/layout/buy-now";


body {
    font-family: $font-txt;
    font-weight: $font-light;
    font-size: 18px;
}

html, body { 
  height: 100%;

  a:hover {
      text-decoration: none;
  }
}

.container {
    max-width: 960px;
}